<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Tarea</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="addTaskForm"
        class="modal-body"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Mi primer tarea..."
            formControlName="name"
          />
          @if (hasErrors('name', "required")) {
          <small style="color: red">El nombre de la tarea es requerido</small>
          } @if (hasErrors('name', "minlength")) {
          <small style="color: red"
            >El nombre de la tarea debe tener un mínimo de 8 caracteres</small
          >
          }
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Estado</label>
          <select
            id="status"
            class="form-select"
            aria-label="Default select example"
            formControlName="status"
          >
            <option value="PENDING">Pendiente</option>
            <option value="IN_PROGRESS">En Progreso</option>
          </select>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="clearForm()"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
