<div class="task">
  <div>
    <span
      [class.task-status-completed]="task().status === 'COMPLETED'"
      [class.task-status-pending]="task().status === 'PENDING'"
      [class.task-status-in-progress]="task().status === 'IN_PROGRESS'"
    ></span>
    <h4>{{ task().name }}</h4>
  </div>
  <div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Cambiar estado
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="changeStatus('COMPLETED')"
            >Completado</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="changeStatus('PENDING')"
            >Pendiente</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="changeStatus('IN_PROGRESS')"
            >En progreso</a
          >
        </li>
      </ul>
    </div>
    <button
      [disabled]="task().status !== 'COMPLETED'"
      data-bs-toggle="modal"
      data-bs-target="#confirmDeleteModal"
      (click)="delete()"
    >
      Eliminar
    </button>
  </div>
</div>
